/* mobile */

/* non brackets */
.js-code[data-typeofjscode="variable"],
.js-code[data-typeofjscode="array"] {
  color: var(--array-brackets-js-variables);
}

.js-code[data-typeofjscode="keyword"],
.js-code[data-typeofjscode="operator"],
.js-code[data-typeofjscode="parentheses"] {
  color: var(--parentheses-operators-js-keywords);
}

.js-code[data-typeofjscode="obj-dot-access"] {
  color: var(--color-css-declaration-js-obj-access);
}

.js-code[data-typeofjscode="number"] {
  color: var(--js-numbers);
}

.js-code[data-typeofjscode="string"] {
  color: var(--js-strings);
}

.js-code[data-typeofjscode="source"] {
  color: var(--js-source-lookup);
}

.js-code[data-typeofjscode="boolean"] {
  color: red;
}

/* brackets */

.js-code[data-typeofjscode="curly"] {
  color: var(--curly-brackets);
}

/* spacer */

.js-code[data-typeofinlinespacer="inline-start"] {
  margin-inline-start: var(--jscode-spacer);
}
.js-code[data-typeofinlinespacer="inline-end"] {
  margin-inline-end: var(--jscode-spacer);
}
.js-code[data-typeofinlinespacer="inline"] {
  margin-inline: var(--jscode-spacer);
}

.code-line-container[data-typeofblockspacer="block-start"] {
  margin-block-start: 16px;
}

/* indent */

.code-line-container[data-indentspacer="one-level"] {
  margin-inline-start: var(--indent-one);
}
.code-line-container[data-indentspacer="second-level"] {
  margin-inline-start: var(--indent-two);
}
.code-line-container[data-indentspacer="three-level"] {
  margin-inline-start: var(--indent-three);
}
.code-line-container[data-indentspacer="four-level"] {
  margin-inline-start: var(--indent-four);
}
.code-line-container[data-indentspacer="five-level"] {
  margin-inline-start: var(--indent-five);
}
.code-line-container[data-indentspacer="six-level"] {
  margin-inline-start: var(--indent-six);
}

.code-line-container {
  display: block;
}

/* desktop */
