.snippet-container {
  /* parentheses: js variable color */
  --array-brackets-js-variables: var(--color-js-variable);
  /* curly brackets:curly-bracket */
  --curly-brackets: var(--color-curly-bracket);
  /* array brackets: js variable color */
  --array-brackets: var(--color-js-variable);
  /* operators: js-let-const-properties */
  --parentheses-operators-js-keywords: var(--color-js-let-const-properties);
  /* keyword: js-let-const-properties */
  --js-keywords: var(--color-js-let-const-properties);
  /* variables: js-variable */
  --js-variables: var(--color-js-variable);
  /* number: --color-html-tag-css-year */
  --js-numbers: var(--color-html-tag-css-year);
  /* string: js obj value */
  --js-strings: var(--color-js-obj-value);
  /* js source lookup */
  --js-source-lookup: var(--color-neutral-white);
  /* spacer */
  --jscode-spacer: 8px;
  /* code background */
  --code-background: hsl(208, 84%, 5%);
  /* inline-start space */
  /* inline-end space */
  /* inline space */
  display: var(--tab-component-container-display);
  flex-direction: var(--tab-component-container-direction);
}

/* mobile */

.tab-close-btn {
  background-color: var(--tab-btn-bg);
}

.tab-container {
  display: var(--tab-container-display);
  align-items: var(--tab-container-align);
  padding-inline-start: var(--btn-file-padding-left);
  border-block-start: var(--tab-container-border);
  padding-inline-end: 7px;
}

.tab-container h2 {
  font-size: var(--tab-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.tab-icon {
  width: var(--tab-icon-width);
}

.tag {
  font-size: var(--tag-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.tab-close-btn[data-isRefreshClicked="true"] .tab-icon {
  rotate: 1turn;
  transition: rotate 1s ease-out;
}

.snippet-content-container {
  padding: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
  border-block-start: var(--container-border-block-start);
}

.instructions-container {
  margin-block-end: 36px;
}

.challenge-title {
  font-size: var(--font-size-28px);
  margin-block-end: 24px;
}

.sub-title {
  margin-block-end: 16px;
  font-size: var(--font-size-20px);
}

/* desktop */

@media screen and (min-width: 90rem) {
  .snippet-container {
    /* height: 33.2%; */
  }

  .tab-container {
    /* border-block-end: var(--tab-container-border); */
    border-block-start: none;
    border-inline-end: var(--tab-container-border);
    align-self: var(--tab-container-align-self);
  }

  .snippet-content-container {
    max-height: var(--resume-snippet-content-container-height);
    overflow-y: var(--resume-snippet-content-container-overflow);
  }
}
