.skills-container {
  padding: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
}

.tab-close-btn {
  background-color: var(--tab-btn-bg);
}

.tab-container {
  display: var(--tab-container-display);
  align-items: var(--tab-container-align);
  padding-inline-start: var(--btn-file-padding-left);
  border-block-end: var(--tab-container-border);
}

.tab-container h2 {
  font-size: var(--tab-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.tab-icon {
  width: var(--tab-icon-width);
}

.tag {
  font-size: var(--tag-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.css-bracket {
  color: var(--color-curly-bracket);
}

.css-selector {
  color: var(--color-html-attrValue-css-attrSelector);
}

.css-property {
  color: var(--color-css-declaration-js-obj-access);
}

.css-property-value {
  color: var(--color-neutral-white);
}

@media screen and (min-width: 90rem) {
  .skills-container {
    height: var(--resume-snippet-content-container-height);
    overflow-y: var(--resume-snippet-content-container-overflow);
  }
}
