/* mobile */

.toc-project-content-images-container {
  --main-content-spacer: 20px;
}

.space-top {
  margin-block-start: var(--main-content-spacer);
}

.space-bottom {
  margin-block-end: var(--main-content-spacer);
}

.space-vertical {
  margin-block: var(--main-content-spacer);
}

/* sidebar */

.toc-tab-container,
.links-tab-container,
.work-flow-tab-container {
  color: var(--color-neutral-white);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-18px);

  padding-block: 10px;
  padding-inline-start: 15px;
}

.toc-content-container,
.links-content-container,
.work-flow-content-container {
  padding: 18px;
  padding-inline-start: 32px;
}

.toc-content-container > * + * {
  margin-block-start: 4px;
}

.toc-tab-container {
  border-bottom: var(--border-lines);
}

.links-tab-container,
.work-flow-tab-container {
  border-block: var(--border-lines);
}

/* toc */

.toc-title a,
.toc-subtitle a {
  /* font-weight: 600; */
  position: relative;
  display: inline-block;
}

.toc-title a {
  color: var(--color-neutral-white);
  font-size: var(--font-size-20px);
}

.toc-subtitle a {
  margin-inline-start: 18px;
}

.toc-title a:hover::before,
.toc-title a:focus::before,
.toc-subtitle a:hover::before,
.toc-subtitle a:focus::before {
  opacity: 1;
}

.toc-title a::before,
.toc-subtitle a::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

/* project links */

.links-content-container > * + * {
  margin-block-start: 20px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-container:hover path,
.link-container:focus path {
  fill: var(--color-neutral-white);
}

.link-container:hover .link-text,
.link-container:focus .link-text {
  color: var(--color-neutral-white);
}

.link-icon svg {
  width: 24px;
}

/* project workflow */

.work-flow-container {
  border-bottom: var(--border-lines);
}

.work-flow-content-container > * + * {
  margin-block-start: 16px;
}

/* main */

.tab-container {
  display: flex;
  gap: 10px;
  align-items: center;

  padding-block: 10px;
  padding-inline-start: 15px;
}

.tab-content {
  /* font-weight: 600; */
  font-size: var(--font-size-18px);
}

.close-btn {
  background-color: transparent;
}

.close-icon {
  width: 36px;
}

.content {
  border-block: var(--border-lines);
  padding: 18px;
  padding-inline-start: 32px;
}

.main-title {
  margin-block-end: 24px;
}

.content-title {
  color: var(--color-neutral-white);
}

.content-subtitle {
  width: max-content;
  border-bottom: var(--border-lines);
  border-color: currentColor;
  color: var(--color-js-variable);
}

.paragraphs-wrapper {
  margin-inline-start: 24px;
}

.paragraphs-wrapper > * + * {
  margin-block-start: 16px;
}

/* images */

.images-tab-container {
  padding: 10px;
  padding-inline-start: 15px;
}

.images-tab-content {
  font-size: var(--font-size-18px);
  /* font-weight: 600; */
}

.preview-images-container {
  border-block-start: var(--border-lines);
  padding: 18px;
}

.preview-images-container > * + * {
  margin-block-start: 16px;
}

.image-container {
  border-radius: 8px;
  overflow: hidden;
  width: max-content;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .toc-project-content-images-container {
    display: flex;
  }
  /* sidebar */
  .toc-links-work-flow-container {
    flex-basis: 59%;
  }
  /* toc */
  /* project links */
  /* project workflow */

  .work-flow-container {
    border-bottom: revert;
  }

  .work-flow-content-container {
    height: 215px;
    overflow-y: scroll;
  }

  /* main */

  .content-images-container {
    display: flex;
  }

  .tab-content-container {
    border-inline: var(--border-lines);
  }

  .tab-container {
    border-inline-end: var(--border-lines);
    padding-block: 5px;
    padding-inline-end: 8px;
    width: max-content;
  }

  .content {
    height: 730px;
    overflow-y: scroll;
    border-block: revert;
    border-block-start: var(--border-lines);
    position: relative;
    padding-inline-end: 80px;
  }

  .span-desktop-watcher {
    height: 2px;
  }
  /* images */
  .project-images-container {
    flex-basis: 97%;
  }

  .preview-images-container {
    height: 730px;
    overflow-y: scroll;
  }
}
