[data-showmenu="true"].mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-wrapper {
  display: none;
  position: fixed;
  background-color: var(--color-primary-dark-blue);
  inset: 2px;
  top: 64px;
  bottom: 0;
  /* border: var(--border-lines); */
  border-block: 0px;
  /* border-radius: 0px 0px 8px 8px; */
}

.mobile-nav {
  border-block: var(--border-lines);
  /* border-: var(--border-lines); */
}

.navlist > * + * a {
  border-top: var(--border-lines);
}

.navlist a {
  display: inline-block;
  width: 100%;
  padding: 18px;
  padding-inline-end: 0px;
  color: var(--color-neutral-white);
}
