.project-wrapper {
  margin-block-end: 62px;
  align-self: end;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.controller-project-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.snap-items-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  /* position: relative; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-inline: 16px;
  flex-basis: 350px;
}

/*** 
***** *****
mobile snap item orders
***** *****
***/

.snap-items-container[data-item-order="standard"] [data-pos-index="one"] {
  order: 0;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="two"] {
  order: 1;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="three"] {
  order: 2;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="four"] {
  order: 3;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="five"] {
  order: 4;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="six"] {
  order: 5;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="seven"] {
  order: 6;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="eight"] {
  order: 7;
}
.snap-items-container[data-item-order="standard"] [data-pos-index="nine"] {
  order: 8;
}

/*****/

.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="one"] {
  order: 1;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="two"] {
  order: 2;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="three"] {
  order: 3;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="four"] {
  order: 4;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="five"] {
  order: 5;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="six"] {
  order: 6;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="seven"] {
  order: 7;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="eight"] {
  order: 8;
}
.snap-items-container[data-item-order="mobile-nine-first"]
  [data-pos-index="nine"] {
  order: 0;
}

/*****/

.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="one"] {
  order: 8;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="two"] {
  order: 0;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="three"] {
  order: 1;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="four"] {
  order: 2;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="five"] {
  order: 3;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="six"] {
  order: 4;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="seven"] {
  order: 5;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="eight"] {
  order: 6;
}
.snap-items-container[data-item-order="mobile-one-last"]
  [data-pos-index="nine"] {
  order: 7;
}

/*** 
***** *****
mobile snap item orders
***** *****
***/

.snap-items-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.control-buttons-wrapper {
  position: absolute;
  top: -72px;
  left: 16px;
}

.previous-btn {
  margin-inline-end: 16px;
}

.control-buttons-wrapper button {
  background-color: var(--color-main-text);
  border-radius: 3px;
  padding: 6px;
}

.control-buttons-wrapper svg {
  width: 32px;
  fill: var(--color-neutral-white);
  /* stroke: white; */
}

/* .control-buttons-wrapper svg path {
  stroke: white;
}

.up {
  stroke: white;
} */

.swipe-right-btn {
  margin-block-start: 110px;
  margin-inline: auto;
  display: block;
  /* font-size: var(--font-size-20px); */
  border-radius: 4px;
  background-color: var(--color-main-text);
}

.btn-content-wrapper {
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  padding-block: 10px;
  background-color: var(--color-life);
  border-radius: 4px;
  color: var(--color-neutral-white);
  /* transform: translateX(-5px) translateY(-5px); */
  /* box-shadow: 5px 5px 1px 0px white; */
}

[data-carouselBtnClicked="false"].swipe-right-btn .btn-content-wrapper {
  /* transform: translateX(-9px) translateY(-9px); */
  /* box-shadow: 9px 10px 1px 0px var(--color-main-text); */
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 1px 0px white;
}

[data-carouselBtnClicked="true"].swipe-right-btn .btn-content-wrapper {
  /* transform: translateX(-9px) translateY(-9px); */
  /* box-shadow: 9px 10px 1px 0px var(--color-main-text); */
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px white;
}

@media screen and (min-width: 90rem) {
  .control-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: -62px;
    top: 216px;
    /* gap: 20px; left: -62px;top:216px */
  }
  .previous-btn {
    margin-inline-end: 0px;
  }
  .swipe-right-btn {
    display: none;
  }
  .project-wrapper {
    min-height: calc(100vh - 64px - 58px);
    margin-block-end: 0px;
  }

  .previous-btn:hover,
  .previous-btn:focus,
  .next-btn:hover,
  .next-btn:focus {
    background-color: var(--color-neutral-white);
  }

  .previous-btn:hover svg,
  .previous-btn:focus svg,
  .next-btn:hover svg,
  .next-btn:focus svg {
    fill: var(--color-cssfileicon);
  }

  .snap-items-container {
    padding-inline: 0;
    flex-basis: calc(100vh - 64px - 58px);
  }

  /*** 
***** *****
desktop snap item orders
***** *****
***/

  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="one"] {
    order: 2;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="two"] {
    order: 3;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="three"] {
    order: 4;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="four"] {
    order: 5;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="five"] {
    order: 6;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="six"] {
    order: 7;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="seven"] {
    order: 8;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="eight"] {
    order: 0;
  }
  .snap-items-container[data-item-order="desktop-eight-first"]
    [data-pos-index="nine"] {
    order: 1;
  }

  /********/

  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="one"] {
    order: 1;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="two"] {
    order: 2;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="three"] {
    order: 3;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="four"] {
    order: 4;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="five"] {
    order: 5;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="six"] {
    order: 6;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="seven"] {
    order: 7;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="eight"] {
    order: 8;
  }
  .snap-items-container[data-item-order="desktop-nine-first"]
    [data-pos-index="nine"] {
    order: 0;
  }

  /********/

  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="one"] {
    order: 7;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="two"] {
    order: 8;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="three"] {
    order: 0;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="four"] {
    order: 1;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="five"] {
    order: 2;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="six"] {
    order: 3;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="seven"] {
    order: 4;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="eight"] {
    order: 5;
  }
  .snap-items-container[data-item-order="desktop-two-last"]
    [data-pos-index="nine"] {
    order: 6;
  }

  /********/

  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="one"] {
    order: 8;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="two"] {
    order: 0;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="three"] {
    order: 1;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="four"] {
    order: 2;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="five"] {
    order: 3;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="six"] {
    order: 4;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="seven"] {
    order: 5;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="eight"] {
    order: 6;
  }
  .snap-items-container[data-item-order="desktop-one-last"]
    [data-pos-index="nine"] {
    order: 7;
  }

  /*** 
***** *****
desktop snap item orders
***** *****
***/
}
