.intro-wrapper {
  /* vh - navbar - footer */
  min-height: calc(100vh - 70px - 58px);
  /* display: flex; */
  flex-direction: column;
  padding-block: 62px;
  padding-block-end: 29px;
  padding-inline: 16px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* align-items: center; */
}

.greeting {
  font-size: var(--body-text-18px);
  color: var(--color-neutral-white);
}

.name {
  color: var(--color-neutral-white);
  font-size: var(--headline-text-62px);
  margin-block-start: 10px;
  font-weight: 500;
  line-height: 1;
}

.arrow-profession-wrapper {
  display: flex;
  align-items: center;
  margin-block-start: 15px;
  gap: 12px;
}

.chevron-right {
  color: var(--color-life);
}

.life-love {
  font-size: var(--font-size-20px);
  color: var(--color-life);
}

.location {
  color: var(--color-neutral-white);
  font-weight: 700;
}

.comments {
  font-size: var(--font-size-14px);
}

.comments:nth-of-type(1) {
  margin-block-start: 82px;
}

.comments:nth-of-type(2) {
  margin-block-start: 16px;
}

.statement-declaration {
  margin-block-start: 16px;
  font-size: var(--font-size-14px);
}

.js-keyword {
  color: var(--color-life);
}

.variable {
  margin-inline: 5px;
  color: var(--color-github-link);
}

.operator {
  color: var(--color-neutral-white);
}

.github-link {
  color: var(--color-github-url);
  margin-inline-start: 5px;
}

.github-link:hover,
.github-link:focus {
  /* color: hsl(0, 87.3%, 66.1%); */
  color: ivory;
}

.location-btn-icon-wrapper {
  margin-block-start: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.location-icon {
  color: var(--color-neutral-white);
  display: block;
  transform: translateY(-3px);
}

/* [data-ishover="true"] .location-icon {
  animation-play-state: running;
}

[data-ishover="false"] .location-icon {
  animation-play-state: paused;
} */

.location-btn-icon-wrapper:hover .location-icon,
.location-btn-icon-wrapper:focus .location-icon {
  animation-play-state: running;
}

.location-icon {
  animation: jump 1200ms linear alternate infinite forwards;
  animation-play-state: paused;
}

.swipe-left-btn {
  margin-block-start: 42px;
  margin-inline: auto;
  display: block;
  /* font-size: var(--font-size-20px); */
  border-radius: 4px;
  background-color: var(--color-main-text);
}

.btn-content-wrapper {
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  padding-block: 10px;
  background-color: var(--color-life);
  border-radius: 4px;
  color: var(--color-neutral-white);
}

.swipe-left-btn .btn-content-wrapper {
  /* transform: translateX(-9px) translateY(-9px); */
  /* box-shadow: 9px 10px 1px 0px var(--color-main-text); */
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 1px 0px white;
}

[data-introBtnClicked="true"].swipe-left-btn .btn-content-wrapper {
  /* transform: translateX(-9px) translateY(-9px); */
  /* box-shadow: 9px 10px 1px 0px var(--color-main-text); */
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px white;
}

.arrow-down {
  height: 24px;
  margin-block-start: 24px;
}

.btn-text {
  display: block;
  /* width: max-content;
  margin-inline: auto; */
  /* margin-block-start: 8px; */
}
/* 233,57,55 */
@keyframes jump {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 90rem) {
  .swipe-left-btn {
    display: none;
  }
  .intro-wrapper {
    min-height: revert;
    align-self: center;
    padding: 0;
  }

  .name {
    margin-block-end: 0px;
  }

  .arrow-profession-wrapper {
    margin-block-start: 5px;
  }

  .location {
    font-weight: 600;
  }

  .comments {
    font-size: var(--labels-text-16px);
  }

  .comments:nth-of-type(1) {
    margin-block-start: 24px;
  }

  .comments:nth-of-type(2) {
    margin-block-start: 10px;
  }
  .statement-declaration {
    font-size: var(--labels-text-16px);
  }
}
