/* file selected */

/* arrow */

.selector-btn[data-isselected="true"] .file-right-icon {
  transform: rotate(90deg);
  transition: transform 1s ease-out;
}

.selector-btn[data-isselected="false"] .file-right-icon {
  transform: rotate(0deg);
  transition: transform 1s ease-in;
}

/* file icon */

.selector-btn[data-isselected="true"] .html-icon {
  fill: var(--color-htmlfileicon);
}

.selector-btn[data-isselected="true"] .css-icon {
  fill: var(--color-cssfileicon);
}

.selector-btn[data-isselected="true"] .js-icon {
  fill: var(--color-jsfileicon);
}

/* file name */

.selector-btn[data-isselected="true"] .file-name {
  color: var(--color-neutral-white);
}

/* mobile */

.resume-container {
  /* height: 100%; */
}

.file-selector .arrow-text-container {
  padding-block-end: 9px;
}

.arrow-text-container {
  color: var(--color-neutral-white);
  display: flex;
  padding-block: var(--btn-file-padding-block);
  padding-inline-start: var(--btn-file-padding-left);
  gap: var(--btn-file-flex-gap);
}

.arrow-text-container h2 {
  font-size: var(--font-size-18px);
  font-weight: 400;
}

.selectors-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 26px;
  border-block: var(--border-lines);
  padding-inline-start: var(--btn-file-padding-left);
}

.selector-btn {
  display: flex;
  gap: 10px;
  background: transparent;
}

.contact-container {
  display: none;
}

.contact-container .arrow-text-container {
  border-block-end: var(--border-lines);
}

.contact-info a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-info a:first-child {
  margin-block-end: 8px;
}

.contact-email-icon {
  transform: translateY(1px);
}

.redirect-to-info-selector {
  position: relative;
}

.empty-btn {
  /* transition: ; */
  margin-inline: auto;
  margin-block: 175px;
  display: block;
  /* font-size: var(--font-size-20px); */
  border-radius: 4px;
  background-color: var(--color-main-text);
  /* width: max-content; */
}

.empty-btn[data-emptybtnclicked="true"] .empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px white;
}

.empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-block: 16px;
  background-color: var(--color-life);
  border-radius: 4px;
  color: var(--color-neutral-white);
  transform: translateX(10px) translateY(-7px);
  box-shadow: -10px 7px 1px 0px white;
}

.empty-btn-text {
  display: block;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .resume-container {
    display: grid;
    grid-template-columns: 249.2px 1fr;
    padding-inline-start: 55px;
  }
  .learn-more-contact-container {
    border-inline-start: var(--border-lines);
  }

  .file-selector {
    /* animation: slideDown 1s ease-out; */
  }

  .contact-container {
    display: revert;
    /* animation: slideup 1s ease-out; */
  }

  .contact-info {
    padding-inline-start: var(--btn-file-padding-left);
    margin-block-start: 10px;
  }

  /* .desktop-spacer {
    display: block;
    height: 456px;
  } */

  .resume-container {
    /* height: 33.2%; */
  }

  .empty-btn {
    position: absolute;
    margin-block: auto;
    inset: 0;
    height: min-content;
  }

  .resume-sections-container {
    position: relative;
    border-inline: var(--border-lines);
    height: 774px;
  }
}

/* @keyframes slideDown {
  0% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(620px);
  }
  100% {
    transform: translateY(0px);
  }
} */
