/* file selected */

/* arrow */

.selector-btn {
  position: relative;
  width: max-content;
}

.selector-btn[data-isselected="true"] .file-right-icon {
  transform: rotate(90deg);
  transition: transform 1s ease-out;
}

.selector-btn[data-isselected="false"] .file-right-icon {
  transform: rotate(0deg);
  transition: transform 1s ease-in;
}

.selector-btn[data-isselected="true"] .file-right-icon path {
  fill: var(--color-neutral-white);
}

/* file icon */

.selector-btn[data-isselected="true"] .html-icon {
  fill: var(--color-htmlfileicon);
}

.selector-btn[data-isselected="true"] .css-icon {
  fill: var(--color-cssfileicon);
}

.selector-btn[data-isselected="true"] .js-icon {
  fill: var(--color-jsfileicon);
}

/* underline file selector buttons */

.selector-btn::after {
  content: "";
  background-color: whitesmoke;
  width: 0%;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.selector-btn[id="html"].selector-btn::after {
  background-color: var(--color-htmlfileicon);
}

.selector-btn[id="css"].selector-btn::after {
  background-color: var(--color-cssfileicon);
}

.selector-btn[id="js"].selector-btn::after {
  background-color: var(--color-jsfileicon);
}

.selector-btn[data-isselected="true"].selector-btn::after {
  animation: showBtnUnderline 1s ease-out forwards;
  animation-delay: 1050ms;
  /* width: 100%;
  transition: width 1s ease-out;
  transition-delay: 1200ms; */
}

.selector-btn[data-isselected="false"].selector-btn::after {
  animation: hideUnderline 1s ease-out backwards;
  /* width: 0%;
  transition: width 1s ease-in; */
}

/* file name */

.selector-btn[data-isselected="true"] .file-name {
  color: var(--color-neutral-white);
}

/* mobile */

.resume-container {
  /* height: 100%; */
}

.file-selector .arrow-text-container {
  padding-block-end: 9px;
}

.arrow-text-container {
  color: var(--color-neutral-white);
  display: flex;
  padding-block: var(--btn-file-padding-block);
  padding-inline-start: var(--btn-file-padding-left);
  gap: var(--btn-file-flex-gap);
}

.arrow-text-container h2 {
  font-size: var(--font-size-18px);
  font-weight: 400;
}

.selectors-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 26px;
  border-block: var(--border-lines);
  padding-inline-start: var(--btn-file-padding-left);
}

.selector-btn:hover .file-right-icon,
.selector-btn:focus .file-right-icon {
  fill: var(--color-neutral-white);
}

.selector-btn {
  display: flex;
  gap: 10px;
  background: transparent;
}

.contact-container {
  display: none;
}

.contact-container .arrow-text-container {
  border-block-end: var(--border-lines);
}

.resume-email-container:hover path:not([fill="none"]),
.resume-email-container:focus path:not([fill="none"]),
.resume-phone-container:hover path,
.resume-phone-container:focus path {
  fill: var(--color-neutral-white);
}

.resume-email-container:hover span,
.resume-email-container:focus span,
.resume-phone-container:hover span,
.resume-phone-container:focus span {
  color: var(--color-neutral-white);
}

.contact-info a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-info a:first-child {
  margin-block-end: 8px;
}

.contact-email-icon {
  transform: translateY(1px);
}

.email-wrapper {
  display: flex;
  flex-direction: column;
}

.redirect-to-info-selector {
  position: relative;
}

.select-file-arrow-btn-wrapper {
  margin-block: 175px;
  position: relative;
}

.file-indicator-arrow {
  width: 50px;
  position: absolute;
  left: 78px;
  top: -150px;
  animation: mobileAnimateArrowUp linear 2s reverse forwards 8;
}

.empty-btn {
  /* transition: ; */
  margin-inline: auto;
  display: block;
  /* font-size: var(--font-size-20px); */
  border-radius: 4px;
  background-color: var(--color-main-text);
  /* width: max-content; */
}

.empty-btn[data-emptybtnclicked="true"] .empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px white;
}

.empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-block: 16px;
  background-color: var(--color-life);
  border-radius: 4px;
  color: var(--color-neutral-white);
  transform: translateX(10px) translateY(-7px);
  box-shadow: -10px 7px 1px 0px white;
}

.empty-btn-text {
  display: block;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .resume-container {
    display: grid;
    grid-template-columns: 262.2px 1fr;
    padding-inline-start: 42px;
  }
  .learn-more-contact-container {
    border-inline-start: var(--border-lines);
  }

  .file-selector {
    /* animation: slideDown 1s ease-out; */
  }

  .contact-container {
    display: revert;
    /* animation: slideup 1s ease-out; */
  }

  .contact-info {
    padding-inline-start: var(--btn-file-padding-left);
    margin-block-start: 10px;
  }

  .resume-sections-container {
    position: relative;
    border-inline: var(--border-lines);
    height: 777px;
  }

  .select-file-arrow-btn-wrapper {
    position: absolute;
    margin-block: auto;
    inset: 0;
    height: min-content;
  }

  .file-indicator-arrow {
    animation: desktopAnimateArrowleft 2s linear reverse forwards 8;
    left: 80px;
    top: -260px;
  }
}

@keyframes showBtnUnderline {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes hideUnderline {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes mobileAnimateArrowUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes desktopAnimateArrowleft {
  0% {
    transform: rotate(-0.25turn) translateY(0);
  }

  50% {
    transform: rotate(-0.25turn) translateY(-15px);
  }

  100% {
    transform: rotate(-0.25turn) translateY(0);
  }
}

/* @keyframes slideDown {
  0% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(620px);
  }
  100% {
    transform: translateY(0px);
  }
} */
