/* mobile */

.skill-level-projects-card-container {
  display: grid;
}

.arrow-text-container {
  display: flex;
  gap: 10px;
  padding-block: 9.3px;
  padding-inline-start: 18px;
}

.down-arrow {
  fill: var(--color-neutral-white);
}

.arrow-text-container h2 {
  font-size: var(--font-size-18px);
  font-weight: 400;
  color: var(--color-neutral-white);
}

.skill-level-checkboxes-container {
  border-top: var(--border-lines);
  padding-block: 16px;
  padding-inline-start: 18px;
}

.skill-level-checkboxes-container > * + * {
  margin-block-start: 16px;
}

.tab-container {
  display: flex;
  align-items: center;
  border-top: var(--border-lines);
  padding-inline-start: 18px;
}

.tab-title {
  font-size: var(--font-size-18px);
}

.close-proj-btn {
  background-color: transparent;
}

.close-icon {
  width: 45px;
}

.project-cards-container {
  height: 300px;
  border-top: var(--border-lines);
}

/* desktop */

@media screen and (min-width: 90rem) {
  .skill-level-projects-card-container {
    grid-template-columns: max-content 1fr;
    padding-inline-start: 57px;
  }

  .skill-level-container {
    border-inline: var(--border-lines);
  }

  .skill-level-checkboxes-container {
    padding-block: revert;
    padding-block-start: 24px;
    padding-inline-end: 26px;
  }

  .tab-container {
    border-top: revert;
    width: max-content;
    border-inline-end: var(--border-lines);
    padding-inline-end: 8px;
  }

  .project-cards-container {
    min-height: 730px;
    overflow-y: scroll;
  }
}
