/* mobile */

.skill-level-projects-card-container {
  display: grid;
}

.arrow-text-container {
  display: flex;
  gap: 10px;
  padding-block: 9.3px;
  padding-inline-start: 18px;
}

.down-arrow {
  fill: var(--color-neutral-white);
}

.arrow-text-container h2 {
  font-size: var(--font-size-18px);
  font-weight: 400;
  color: var(--color-neutral-white);
}

.add-remove-btns-wrapper {
  --fg: var(--color-neutral-white);
  --bg: var(--color-life);
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-block: 16px;
  padding-block-start: 0;
}

.add-remove-btns-wrapper > * + * {
  margin-block-start: 24px;
}

.add-all-btn,
.remove-all-btn,
.add-all-btn-wrapper,
.remove-all-btn-wrapper {
  border-radius: 4px;
}

.add-all-btn {
  background-color: var(--bg);
}

.remove-all-btn {
  background-color: var(--fg);
}

.add-all-btn-wrapper,
.remove-all-btn-wrapper {
  transition: transform 250ms ease-in, box-shadow 250ms ease-in;
  display: block;
  font-weight: 600;
  padding-block: 16px;
  transform: translateX(5px) translateY(5px);
  letter-spacing: 1px;
}

.add-all-btn-wrapper {
  background-color: var(--fg);
  color: var(--bg);
  box-shadow: -5px -5px 1px 0px var(--bg);
}

.remove-all-btn-wrapper {
  background-color: var(--bg);
  color: var(--fg);
  box-shadow: -5px -5px 1px 0px var(--fg);
}

[data-allbtnclicked="true"] .add-all-btn-wrapper,
[data-allbtnclicked="true"] .remove-all-btn-wrapper {
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px;
}

.skill-level-checkboxes-container {
  border-top: var(--border-lines);
  padding-block: 16px;
  padding-inline-start: 18px;
}

.skill-level-checkboxes-container > * + * {
  margin-block-start: 16px;
}

.tab-container {
  display: flex;
  align-items: center;
  border-top: var(--border-lines);
  padding-inline-start: 18px;
}

.tab-title {
  font-size: var(--font-size-18px);
  display: flex;
  flex-wrap: wrap;
}

.tab-title span:not(:last-of-type) {
  margin-inline-end: 10px;
}

.close-proj-btn {
  background-color: transparent;
}

.close-icon {
  width: 45px;
}

.project-cards-container {
  list-style: none;
  /* height: 300px; */
  border-top: var(--border-lines);
  display: flex;
  padding: 16px;
  gap: 16px;
  flex-direction: column;
}

/* check a box btn */

.select-skill-level-btn-wrapper {
  margin-block: 175px;
  position: relative;
}

.empty-btn {
  /* transition: ; */
  margin-inline: auto;
  display: block;
  /* font-size: var(--font-size-20px); */
  border-radius: 4px;
  background-color: var(--color-neutral-white);
  /* width: max-content; */
}

.empty-btn[data-projectshidden="true"] .empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  transform: translateX(0px) translateY(0px);
  box-shadow: 0px 0px 1px 0px white;
}

.empty-btn-wrapper {
  transition: transform 250ms ease-out, box-shadow 250ms ease-out;
  display: flex;
  /* gap: 12px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  padding-block: 10px;
  background-color: var(--color-life);
  border-radius: 4px;
  color: var(--color-neutral-white);
  transform: translateX(9.5px) translateY(6px);
  box-shadow: -10px -6px 1px 0px white;
}

.letter-container {
  display: block;
  position: relative;
  background-color: transparent;
}

.letter-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  top: 4px;
  bottom: 4px;
  background-color: red;
}

/* vertical bar */

[data-showletter="true"].letter-container::before {
  animation: moveRightVerticalLine 3500ms ease-out forwards;
}

[data-showletter="false"].letter-container::before {
  animation: moveLeftVerticalLine 3500ms ease-out forwards;
}

/* blinking line */

[data-blinking="true"].letter-container::before {
  animation: leftblinking 1500ms ease-in-out reverse both infinite;
}

[data-blinking="false"].letter-container::before {
  animation: rightblinking 1500ms ease-in-out reverse both infinite;
}

/* letters */

.letter[data-position] {
  opacity: 0;
  transition: opacity 350ms ease-out;
}

/* show */

[data-showletter="true"] .letter[data-position="0"] {
  opacity: 1;
}
[data-showletter="true"] .letter[data-position="1"] {
  opacity: 1;
  transition-delay: 350ms;
}
[data-showletter="true"] .letter[data-position="2"] {
  opacity: 1;
  transition-delay: 700ms;
}
[data-showletter="true"] .letter[data-position="3"] {
  opacity: 1;
  transition-delay: 1050ms;
}
[data-showletter="true"] .letter[data-position="4"] {
  opacity: 1;
  transition-delay: 1400ms;
}
[data-showletter="true"] .letter[data-position="5"] {
  opacity: 1;
  transition-delay: 1750ms;
}
[data-showletter="true"] .letter[data-position="6"] {
  opacity: 1;
  transition-delay: 2100ms;
}
[data-showletter="true"] .letter[data-position="7"] {
  opacity: 1;
  transition-delay: 2450ms;
}
[data-showletter="true"] .letter[data-position="8"] {
  opacity: 1;
  transition-delay: 2800ms;
}
[data-showletter="true"] .letter[data-position="9"] {
  opacity: 1;
  transition-delay: 3150ms;
}
[data-showletter="true"] .letter[data-position="10"] {
  opacity: 1;
  transition-delay: 3500ms;
}

/* hide */

[data-showletter="false"] .letter[data-position] {
  opacity: 0;
}

[data-showletter="false"] .letter[data-position="10"] {
  opacity: 0;
}
[data-showletter="false"] .letter[data-position="9"] {
  opacity: 0;
  transition-delay: 350ms;
}
[data-showletter="false"] .letter[data-position="8"] {
  opacity: 0;
  transition-delay: 700ms;
}
[data-showletter="false"] .letter[data-position="7"] {
  opacity: 0;
  transition-delay: 1050ms;
}
[data-showletter="false"] .letter[data-position="6"] {
  opacity: 0;
  transition-delay: 1400ms;
}
[data-showletter="false"] .letter[data-position="5"] {
  opacity: 0;
  transition-delay: 1750ms;
}
[data-showletter="false"] .letter[data-position="4"] {
  opacity: 0;
  transition-delay: 2100ms;
}
[data-showletter="false"] .letter[data-position="3"] {
  opacity: 0;
  transition-delay: 2450ms;
}
[data-showletter="false"] .letter[data-position="2"] {
  opacity: 0;
  transition-delay: 2800ms;
}
[data-showletter="false"] .letter[data-position="1"] {
  opacity: 0;
  transition-delay: 3150ms;
}
[data-showletter="false"] .letter[data-position="0"] {
  opacity: 0;
  transition-delay: 3500ms;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .skill-level-projects-card-container {
    grid-template-columns: max-content 1fr;
    padding-inline-start: 57px;
  }

  .skill-level-container {
    border-inline: var(--border-lines);
  }

  .skill-level-checkboxes-container {
    padding-block: 24px;
    padding-inline-end: 26px;
  }

  .tab-container {
    border-top: revert;
    width: max-content;
    border-inline-end: var(--border-lines);
    padding-inline-end: 8px;
  }

  .project-cards-container {
    height: 730px;
    overflow-y: scroll;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(260px, auto)); */
    align-content: flex-start;
    padding: 20px;
    gap: 16px;
  }

  .select-skill-level-btn-wrapper {
    position: absolute;
    inset: 0;
    margin: auto;
    height: min-content;
  }
}

/* animate vertical bar */

@keyframes moveRightVerticalLine {
  0% {
    transform: translateX(-3px);
  }

  9% {
    transform: translateX(9.6px);
  }
  18% {
    transform: translateX(calc(9.6px * 2));
  }
  27% {
    transform: translateX(calc(9.6px * 3));
  }
  36% {
    transform: translateX(calc(9.6px * 4));
  }
  45% {
    transform: translateX(calc(9.6px * 5));
  }
  54.5% {
    transform: translateX(calc(9.6px * 6));
  }
  63.6% {
    transform: translateX(calc(9.6px * 7));
  }
  72.7% {
    transform: translateX(calc(9.6px * 8));
  }
  81.8% {
    transform: translateX(calc(9.6px * 9));
  }
  90.9% {
    transform: translateX(calc(9.6px * 10));
  }
  100% {
    transform: translateX(calc(9.6px * 11));
  }
}

@keyframes moveLeftVerticalLine {
  0% {
    transform: translateX(105.6px);
  }

  9% {
    transform: translateX(calc(105.6px - 9.6px));
  }
  18% {
    transform: translateX(calc(105.6px - (9.6px * 2)));
  }
  27% {
    transform: translateX(calc(105.6px - (9.6px * 3)));
  }
  36% {
    transform: translateX(calc(105.6px - (9.6px * 4)));
  }
  45% {
    transform: translateX(calc(105.6px - (9.6px * 5)));
  }
  54% {
    transform: translateX(calc(105.6px - (9.6px * 6)));
  }
  63% {
    transform: translateX(calc(105.6px - (9.6px * 7)));
  }
  72% {
    transform: translateX(calc(105.6px - (9.6px * 8)));
  }
  80% {
    transform: translateX(calc(105.6px - (9.6px * 9)));
  }
  88% {
    transform: translateX(calc(105.6px - (9.6px * 1) 0));
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes leftblinking {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    transform: translateX(-2px);
  }
}

@keyframes rightblinking {
  0% {
    opacity: 0;
    transform: translateX(107px);
  }

  100% {
    opacity: 1;
    transform: translateX(107px);
  }
}
