.nav {
  display: none;
  border-inline-end: var(--border-lines);
}

.navlist {
  display: flex;
}

.navlink {
  border-inline-start: var(--border-lines);
  padding-block: 18px;
  display: inline-block;
  padding-inline: 35.2px;
  position: relative;
}

.navlink:not([data-iscurrentpage=""]):hover,
.navlink:not([data-iscurrentpage=""]):focus {
  color: var(--color-neutral-white);
}

[data-iscurrentpage="true"].navlink {
  color: var(--color-neutral-white);
}

[data-iscurrentpage="true"].navlink::before {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: var(--color-accent-link-current-page);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

[data-iscurrentpage="true"] .underscore {
  animation: blinking 1250ms ease-in-out alternate infinite;
}

[data-isProjectPage="true"] .underscore {
  animation: projectpageblinking 1250ms ease-in-out alternate infinite;
  display: inline-block;
}

[data-notcurrentprojectpage="true"] .underscore {
  display: inline-block;
  transform: translateY(3px);
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes projectpageblinking {
  0% {
    opacity: 1;
    transform: translateY(3px);
  }
  100% {
    opacity: 0;
    transform: translateY(3px);
  }
}

@media screen and (min-width: 48rem) {
  .nav {
    display: revert;
  }
}
