.logo-nav-container {
  border: var(--border-lines);
  border-radius: 8px 8px 0px 0px;
  display: flex;
}

@media screen and (max-width: 430px) {
  .logo-nav-container {
    padding: 18px;
    padding-inline-end: 28px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-primary-dark-blue);
  }
}

@media screen and (min-width: 90rem) {
  .logo-text {
    padding-block: 18px;
    padding-inline-start: 18px;
    margin-inline-end: 180px;
  }
}
