/* mobile */

.back-top-btn[data-backtopbtnshown="false"] {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.back-top-btn[data-backtopbtnshown="true"] {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.back-top-btn[data-linkbtnmobile="true"] {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.back-top-btn[data-linkbtndesktop="true"] {
  display: none;
}

.back-top-btn {
  background-color: hsl(208, 84%, 5%);
  font-size: 1.2rem;
  display: inline-flex;
  padding: 10px;
  padding-inline: 26px;
  border-radius: 100vw;
  font-weight: 600;
}

.arrow-up + span {
  margin-inline-start: 10px;
}

.top-span {
  position: absolute;
  top: 0;
}

.top-span[data-spandesktop="true"] {
  display: none;
}

/* desktop */

@media screen and (max-height: 250px) {
  .back-top-btn {
    display: none;
  }
}

@media screen and (min-width: 23.44rem) {
  .back-top-btn[data-linkbtnmobile="true"] {
    display: none;
  }
}

@media screen and (min-width: 90rem) {
  .back-top-btn[data-linkbtndesktop="true"] {
    display: inline-flex;
  }

  .back-top-btn[data-currentpage="aboutme"] {
    position: sticky;
    bottom: 0px;
    left: 330px;
  }

  .back-top-btn[data-currentpage="singleprojectpage"] {
    position: sticky;
    left: 530px;
    bottom: 0px;
  }

  .back-top-btn {
    /* font-size: 1.7rem; */
    /* padding: 16px; */
    /* padding-inline: 30px; */
  }

  .arrow-up + span {
    margin-inline-start: 16px;
  }

  .top-span[data-spanmobile="true"] {
    display: none;
  }

  .top-span[data-spandesktop="true"] {
    display: revert;
  }
}
