/* mobile */

.inputs-sent-message-container[data-showmodal="true"] {
  display: none;
}

.inputs-sent-message-container {
  padding: 18px;
  /* padding-block: 36px; */
}

.inputs-sent-message-container > * + * {
  margin-block-start: 16px;
}

.margin-block-start-large {
  margin-block-start: 32px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-input-container input,
.label-input-container textarea {
  background-color: hsl(208, 84%, 5%);
  border: var(--border-lines);
  border-radius: 4px;
}

.label-input-container input:focus,
.label-input-container textarea:focus {
  border-color: red;
}

.submit-btn {
  padding: 9px;
}

.new-message-btn {
  padding: 16px;
}

.submit-btn,
.new-message-btn,
.clear-btn {
  color: var(--color-neutral-white);
  background-color: var(--color-default-button);
  border-radius: 4px;
  padding-inline: 24px;
}

/* modal */

.sent-message-modal-container {
  padding: 18px;
  padding-block-start: 130px;
  padding-block-end: 58.2%;
  text-align: center;
}

.description {
  margin-block: 24px;
  margin-block-start: 14px;
  padding-inline: 28px;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .min-width{
    width: 379px;
  }

  .inputs-modal-container {
    border-inline-end: var(--border-lines);
  }

  .inputs-sent-message-container {
    padding: 50px;
    padding-block: 134.6px;
  }

  .submit-clear-btns-container{
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
  }

  .sent-message-modal-container {
    padding: 82px;
    padding-block: 292.6px;
  }

  .description {
    margin-block: 42px;
    margin-block-start: 14px;
  }
}
