.content-container {
  background-color: hsl(208, 84%, 5%);
}

.title {
  font-size: 1.5rem;
}

.title-tech-container {
  font-weight: 600;
}

.tech-title {
  color: var(--color-neutral-white);
}

.tech-container {
  list-style: none;
}

.tech-container span {
  text-transform: uppercase;
}

.html {
  color: var(--color-htmlfileicon);
}

.css {
  color: var(--color-cssfileicon);
}

.js {
  color: var(--color-jsfileicon);
}

.react {
  color: var(--color-reactfileicon);
}

.description {
  color: var(--color-neutral-white);
}

.project-link,
.code-link {
  display: flex;
  gap: 8px;
}

.site-icon,
.github-icon {
  width: 24px;
}

.links-container a:hover path,
.links-container a:focus path {
  fill: var(--color-neutral-white);
}

.links-container a:focus span,
.links-container a:hover span {
  color: var(--color-neutral-white);
}

/* mobile */

/* .project-container {
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 200px 280px;
  flex-direction: column;
}

.project-container img {
  height: 100%;
  width: 100%;
} */

.project-container {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-container img {
  max-height: 200px;
}

.content-container {
  padding: 16px;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
}

.title-tech-container {
  display: flex;
  gap: 8px;
}

.tech-container {
  display: flex;
  gap: 8px;
}

.description {
  margin-block: 16px;
  max-width: 30ch;
}

.title {
  margin-block-end: 8px;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin-block: auto;
}

/* desktop */

@media screen and (min-width: 90rem) {
  .project-container {
    /* display: flex; */
    flex-direction: revert;
  }

  /* home page */

  [data-projectorhomepage="home"].project-container {
    height: 100%;
  }

  /* img */

  [data-projectorhomepage="home"] .img {
    /* max-width: 610px; */
  }

  /* content container */

  [data-projectorhomepage="home"] .content-container {
    width: 100%;
    flex-basis: revert;
    padding: 24px;
  }

  [data-projectorhomepage="home"] .title {
    margin-block-end: 24px;
    font-size: 2rem;
  }

  [data-projectorhomepage="home"] .description {
    margin-block-start: 24px;
  }

  [data-projectorhomepage="home"] .links-container {
    margin-block: revert;
    margin-block-start: auto;
  }

  /* projects page */

  [data-projectorhomepage="projects"].project-container {
    /* max-width: 550px; */
  }

  /* img */

  [data-projectorhomepage="home"] .img,
  [data-projectorhomepage="projects"] .img {
    max-width: 200px;
    max-height: revert;
  }

  /* content container */

  [data-projectorhomepage="projects"] .content-container {
    /* max-width: 610px; */
    padding: 24px;
    flex-basis: revert;
    display: revert;
  }

  [data-projectorhomepage="projects"] .title {
    /* margin-block-end: 8px; */
  }

  [data-projectorhomepage="projects"] .tech-title {
  }

  [data-projectorhomepage="projects"] .title-tech-container {
    /* display: flex; */
    /* gap: 8px; */
  }

  [data-projectorhomepage="projects"] .tech-container {
    /* display: flex; */
    /* gap: 8px; */
  }

  [data-projectorhomepage="projects"] .description {
    /* margin-block: 12px; */
  }

  [data-projectorhomepage="projects"] .links-container {
    margin-block-start: auto;
  }
}
