.tab-close-btn {
  background-color: var(--tab-btn-bg);
}

.tab-container {
  display: var(--tab-container-display);
  align-items: var(--tab-container-align);
  padding-inline-start: var(--btn-file-padding-left);
  border-block-end: var(--tab-container-border);
}

.tab-container h2 {
  font-size: var(--tab-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.tab-icon {
  width: var(--tab-icon-width);
}

.tag {
  font-size: var(--tag-font-size);
  font-weight: var(--tab-tag-font-weight);
}

.opening span:nth-of-type(2) {
  margin-inline: 3px;
}

.closing span:nth-of-type(2) {
  margin-inline: 1.6px;
}

.closing span:nth-of-type(3) {
  margin-inline-end: 3px;
}

.tag-sign {
  color: var(--color-html-quote-symbols);
}

.tag-name {
  color: var(--color-html-tag-css-year);
}

.element-content {
  color: var(--color-neutral-white);
}

@media screen and (min-width: 90rem) {
  .passion-container {
    height: var(--resume-snippet-content-container-height);
    overflow-y: var(--resume-snippet-content-container-overflow);
  }
}
